@import url('https://fonts.googleapis.com/css?family=Karla:400,700|Libre+Franklin:400,600');
* {
  box-sizing:  border-box;
  border: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
  background-image: url('./static/pink_dust.png');
  background-repeat: repeat;
  background-position: center;
  color: #f8f8f8;
}

a {
  text-decoration: none;
  color: #F25292;
  font-weight: 600;
}

a:hover {
  color: #f73350;
}


/* Loading Animation */

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

.line {
  animation: expand 1s ease-in-out infinite;
  border-radius: 1.5px;
  display: inline-block;
  transform-origin: center center;
  margin: 0 10px;
  width: 10px;
  height: 60px;
}

.line:nth-child(1) {
  background: #27ae60;
}

.line:nth-child(2) {
  animation-delay: 180ms;
  background: #f1c40f;
}

.line:nth-child(3) {
  animation-delay: 360ms;
  background: #e67e22;
}

.line:nth-child(4) {
  animation-delay: 540ms;
  background: #2980b9;
}

@keyframes expand {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(2);
  }
}

/* Loading Animation End */

.container {
  padding: 0px 0px;
}

h1, h2, h3, h4 {
  font-family: 'Karla', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: 700;
}

p, div {
  font-family: 'Libre Franklin', 'Georgia', serif;
  font-size: 1.0875em;
}

ul {
  padding: 0
}

li {
  list-style-type: none;
}

p {
  font-size: 1.1em
}

ul.nav {
  display: flex;
  padding: 20px 0px;
}
ul.nav li {
  margin-right: 25px;
  height: 45px;
  line-height: 40px;
}

.navbar {
  background: #333;
  box-shadow: 0px 0px 10px 5px rgba(40, 40, 40, 0.6);
  padding: 0px 25px;
  display: flex;
  justify-content: space-between;
}
.page-container {
  padding: 0px 25px;
}

.page-heading {
  margin: 15px 0px;
  text-align: center;
}

.navbar a {
  font-size: 1.15em;
  text-decoration: none;
  color: #f8f8f8;
}

.navbar-form-container {
  display: flex;
  align-items: center;
}

ul.nav li:hover {
  border-bottom: 3px solid #f73350;

}
.navbar a:hover {
  color: #f73350;
}

.navbar a.active-navlink {
  font-weight: 600;
  color: #f73350;
}

.column {
  display: flex;
  flex-direction: column;
}

.column.is-centered {
  align-items: center;
}
.column.is-centered-v {
  justify-content: center;
  min-height: 60vh;
}
.column * {
  margin: 10px 0px;
}

input[type="text"] {
  background-color: #333;
  border: 2px solid rgba(127, 127, 127, 0.4);
  border-radius: 3px;
  color: #fff;
  min-width: 250px;
}


.weather-form.column input[type="text"] {
  width: 600px;
  height: 1.5em;
  line-height: 1.5em;
  font-size: 1.3em;
}
.navbar-form * {
  margin-left: 15px;
}
.navbar-form input[type="text"] {
  height: 2.0em;
  font-size: 0.7em;
}

input[type="text"]::placeholder {
  color: #c7c7c7;
}


input[type="text"]:focus {
  outline: 2px solid #f73350;
  border-radius: 4px;
}

/* Beautiful Button */

.button {
  cursor: pointer;
  border-width: 0px;
  background: #fff;
  border-radius: 2.5px;
  padding: 20px 35px;
  color: #333;
  font-size: 0.97em;
  text-transform: uppercase;
  box-shadow: 10px 10px 10px 4px rgba(0, 0, 0, 0.4);
  transition: 0.3s box-shadow ease;
}

.button.is-small {
  font-size: 0.70em;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.4);
  padding: 8px 14px;
}

button:disabled {
  cursor: not-allowed;
}


.button:hover {
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.4);
}

.button.is-small:hover {
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.4);
}

/* Beautiful Button End */

.place-name {
  text-transform: capitalize;
}
.error-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  text-transform: capitalize;
  font-size: 1.6em
}
.forecasts-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.forecast-item {
  width: calc(20% - 20px);
  min-width: 200px;
  margin: 20px 10px;
  display: flex;
  flex-direction: column;
  min-height: 350px;
  justify-content: flex-end;
  transition: 0.6s all ease-in-out;
}

.forecast-item:hover {
  cursor: pointer;
  background-color: #333;
  box-shadow: 5px 5px 7px 3px rgba(32, 32, 32, 0.4);
  border-radius: 5px;
}

.forecast-icon {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 40px;
}
.forecast-icon img {
  width: 75%;
}


.forecast-desc {
  font-size: 0.75em;
  color: #c4c4c4;
  text-align: center;
  text-transform: capitalize;
  font-family: 'Karla', 'Helvetica Neue', 'Helvetica', sans-serif;
}

.forecast-date {
  font-size: 1.3em;
  margin-top: 0px;
  text-align: center;
  font-family: 'Karla', 'Helvetica Neue', 'Helvetica', sans-serif;

}

.forecast-detail {
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.forecast-detail > * {
  width: 45%;
}

.forecast-detail > .forecast-icon {
  width: 20%;
}

.forecast-text {
  text-align: center;
  text-transform: capitalize;
  margin-top: 12px;
  font-family: 'Karla', 'Helvetica Neue', 'Helvetica', sans-serif;
  color: #d3d3d3;
  font-size: 0.875em;
}

.link-homepage {
  padding: 50px 0px;
  text-align: center;
}
